.footer {
  background-color: rgb(35, 32, 32);
  background-size: cover;
  background-position: center;
  padding: 40px 20px;
  color: white;
  text-align: center;
  position: relative;
}

.footer-header h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.footer-header span {
  color: #ff4e00;
}

.footer-contact {
  padding: 70px;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 20px;
  width: 60%;
  position: relative;
}

.footer-contact::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
}

.footer-contact h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
  font-weight: 600;
  color: rgb(14, 16, 16);
}

.footer-contact p {
  font-size: 1.2em;
  font-weight: 400;
  margin: 10px 0;
  color: rgb(14, 16, 16);
}

.footer-contact i {
  margin-right: 10px;
  color: rgb(240, 71, 9);
}

.footer-social {
  margin-top: 20px;
}

.footer-social a {
  color: white;
  margin: 0 10px;
  font-size: 1.5em;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: #ff4e00;
}

.footer-bottom {
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .footer-contact {
      width: 90%;
      padding: 30px;
  }
}

@media (max-width: 480px) {
  .footer-header h1 {
      font-size: 1.5em;
  }

  .footer-contact h2 {
      font-size: 1.5em;
  }

  .footer-contact p {
      font-size: 1em;
  }
}

  